name: Deploy Hugo site

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.3'

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: 'latest'
        extended: true

    - name: Download modules
      run: hugo mod get

    - name: Build Hugo
      run: hugo --minify --baseURL "https://joebyjo.github.io/blog/"
    
    - name: Check public directory
      run: ls -alh ./public

    - name: Upload Pages artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./public


  deploy:

    environment:
      name: github-pages

    runs-on: ubuntu-latest

    needs: build

    steps:
      - name: Deploy
        uses: actions/deploy-pages@v4
      
      - name: Move files to /blog folder
        run: |
          mkdir -p /tmp/blog
          mv ./public/* /tmp/blog
          mv /tmp/blog/* ./public/
